extends:
  - airbnb
  - plugin:flowtype/recommended
  - prettier
  - prettier/flowtype
  - prettier/react
plugins:
  - flowtype
  - compat
env:
  jest: true
  browser: true
parser: babel-eslint
settings:
  polyfills:
    - fetch
  import/resolver: webpack
rules:
  semi:
    - error
    - never
  no-unexpected-multiline: error
  compat/compat: error
  jsx-a11y/anchor-is-valid:
    - error
    - components:
      - Link
      specialLink:
        - to
        - hrefLeft
        - hrefRight
      aspects:
        - noHref
        - invalidHref
        - preferButton
