extends: 
  - airbnb
  - 'plugin:flowtype/recommended'
plugins:
  - flowtype
  - compat
parser: babel-eslint
rules:
  semi:
    - error
    - never
  no-unexpected-multiline: error
  compat/compat: error
